<h1>We'd like for you to complete our survey!</h1>
Copy and paste this link: https://ashleys-survey-goat.herokuapp.com<%= new_submission_path(survey_id: @id) %>
<p>Please go to this url to complete this. </p>
